<h1>Edit Page</h1>

<%#= <form helper is great lol %>
<%#= patch %>
<%#= form_for Page.find(1) do |f| %>


<%#= post %>
<%#= form_for @page do |f| %>
<%#= moved to _form %>

<%= render 'layouts/form' %>